<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<gvnix-menu id="_menu" rooMenuBasePath="/">
<menu-item id="c_usuario" labelCode="menu_category_usuario_label" name="Usuario">
        <menu-item hidden="false" id="i_usuario_new" labelCode="menu_item_usuario_new_label" messageCode="global_menu_new" roles="" url="/usuarios?form"/>
    <menu-item hidden="false" id="i_usuario_list" labelCode="menu_item_usuario_list_label" messageCode="global_menu_list" roles="" url="/usuarios?page=1&amp;size=${empty param.size ? 10 : param.size}"/>
    </menu-item>
<menu-item id="c_seleniumtests" labelCode="menu_category_seleniumtests_label" name="SeleniumTests">
        <menu-item hidden="false" id="si_seleniumtests_test" labelCode="menu_item_seleniumtests_test_label" messageCode="selenium_menu_test_suite" roles="" url="/resources/selenium/test-suite.xhtml"/>
    </menu-item>
<menu-item id="c_ofertatrabajo" labelCode="menu_category_ofertatrabajo_label" name="OfertaTrabajo">
        <menu-item hidden="false" id="i_ofertatrabajo_new" labelCode="menu_item_ofertatrabajo_new_label" messageCode="global_menu_new" roles="" url="/ofertatrabajoes?form"/>
    <menu-item hidden="false" id="i_ofertatrabajo_list" labelCode="menu_item_ofertatrabajo_list_label" messageCode="global_menu_list" roles="" url="/ofertatrabajoes?page=1&amp;size=${empty param.size ? 10 : param.size}"/>
    </menu-item>
<menu-item id="c_perfil" labelCode="menu_category_perfil_label" name="Perfil">
        <menu-item hidden="false" id="i_perfil_new" labelCode="menu_item_perfil_new_label" messageCode="global_menu_new" roles="" url="/perfils?form"/>
    <menu-item hidden="false" id="i_perfil_list" labelCode="menu_item_perfil_list_label" messageCode="global_menu_list" roles="" url="/perfils?page=1&amp;size=${empty param.size ? 10 : param.size}"/>
    </menu-item>
<menu-item id="c_demandante" labelCode="menu_category_demandante_label" name="Demandante">
        <menu-item hidden="false" id="i_demandante_new" labelCode="menu_item_demandante_new_label" messageCode="global_menu_new" roles="" url="/demandantes?form"/>
    <menu-item hidden="false" id="i_demandante_list" labelCode="menu_item_demandante_list_label" messageCode="global_menu_list" roles="" url="/demandantes?page=1&amp;size=${empty param.size ? 10 : param.size}"/>
    </menu-item>
<menu-item id="c_empresa" labelCode="menu_category_empresa_label" name="Empresa">
        <menu-item hidden="false" id="i_empresa_new" labelCode="menu_item_empresa_new_label" messageCode="global_menu_new" roles="" url="/empresas?form"/>
    <menu-item hidden="false" id="i_empresa_list" labelCode="menu_item_empresa_list_label" messageCode="global_menu_list" roles="" url="/empresas?page=1&amp;size=${empty param.size ? 10 : param.size}"/>
    </menu-item>
<menu-item id="c_direccion" labelCode="menu_category_direccion_label" name="Direccion">
        <menu-item hidden="false" id="i_direccion_new" labelCode="menu_item_direccion_new_label" messageCode="global_menu_new" roles="" url="/direccions?form"/>
    <menu-item hidden="false" id="i_direccion_list" labelCode="menu_item_direccion_list_label" messageCode="global_menu_list" roles="" url="/direccions?page=1&amp;size=${empty param.size ? 10 : param.size}"/>
    </menu-item>
</gvnix-menu>
