.bs-footer {
  background-color: #303030;
}

.navbar {
  background-color: #303030;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus,
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
 color: #fff;
 background-color: #000000;
}
.navbar .navbar-nav > li > a {
 color: #e4ffca;
}
